*::-webkit-scrollbar{
    display: none;
}
body{
  background-color: #c49b63;
  margin: 0;
}
input{
  padding: 5px;
  width: 350px;
  height: 35px;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
  border-width: 1.5px;
  background-color: #c49b63;
  color: black;
}
input::placeholder{
  color: black;
}
input:focus{
  box-shadow: 0.5px 0.5px 0.5px 0.5px black;
  transition: 0.3s;
  outline: none;
}
#submitButton{
  color: #c49b63;
  background-color: black;
  padding-bottom: 5px;
  font-size: 20px;
  height: 40px;
  cursor: pointer;
}