table{
  text-align: center;
  padding: 0px;
  margin: 90px;
}
.food{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.title{
  color: white;
  letter-spacing: 1px;
}
.description{
  color: gray;
  text-align: justify-all;
  letter-spacing: 1px;
  line-height: 25px;
  margin: 30px;
}
.rate{
  color: white;
  letter-spacing: 1px;
  margin-left: 10%;
  font-family: Arial Narrow;
}
div[class=buy] input{
  padding: 15px;
  color: #c49b63;
  border: 1px solid #c49b63;
  background-color: transparent;
  width: 20px;
  margin-left: 15px;
  cursor: pointer;
  text-align: center;
}
div[class=buy] input[type=text]{
  cursor: auto;
}
div[class=buy] input[type=submit]{
  width: 150px;
  margin-top: 20px;
  background-color: #c49b63;
  transition: 0.5s;
  color: black;
}
div[class=buy] input[type=submit]:hover{
  background-color: transparent;
  color: #c49b63;
  transition: 0.5s;
}